<div>
    <h2 id="page-heading">
        <span>Transferts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transfert" [routerLink]="['/transfert/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Transfert
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transferts?.length === 0">
        <span>No transferts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transferts && transferts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span>Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeoperation"><span>Typeoperation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numcompte"><span>Numcompte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="compteId"><span>Compte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transfert of transferts ;trackBy: trackId">
                    <td><a [routerLink]="['/transfert', transfert.id, 'view']">{{ transfert.id }}</a></td>
                    <td>{{ transfert.date | date:'mediumDate' }}</td>
                    <td>{{ transfert.montant }}</td>
                    <td>{{ transfert.typeoperation }}</td>
                    <td>{{ transfert.numcompte }}</td>
                    <td>
                        <div *ngIf="transfert.compteId">
                            <a [routerLink]="['/compte', transfert.compteId , 'view']" >{{ transfert.compteId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transfert', transfert.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transfert', transfert.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transfert)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="transferts && transferts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
