<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conseiller">
            <h2><span>Conseiller</span> {{ conseiller.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ conseiller.nom }}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{ conseiller.prenom }}</span>
                </dd>
                <dt><span>Tel</span></dt>
                <dd>
                    <span>{{ conseiller.tel }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ conseiller.email }}</span>
                </dd>
                <dt><span>Nomutilisateur</span></dt>
                <dd>
                    <span>{{ conseiller.nomutilisateur }}</span>
                </dd>
                <dt><span>Motdepasse</span></dt>
                <dd>
                    <span>{{ conseiller.motdepasse }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ conseiller.userId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conseiller', conseiller.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
