<div>
    <h2 id="page-heading">
        <span>Comptecous</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comptecou" [routerLink]="['/comptecou/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Comptecou
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="comptecous?.length === 0">
        <span>No comptecous found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="comptecous && comptecous.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fraistrans"><span>Fraistrans</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="soldemin"><span>Soldemin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="compteId"><span>Compte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comptecou of comptecous ;trackBy: trackId">
                    <td><a [routerLink]="['/comptecou', comptecou.id, 'view']">{{ comptecou.id }}</a></td>
                    <td>{{ comptecou.fraistrans }}</td>
                    <td>{{ comptecou.soldemin }}</td>
                    <td>
                        <div *ngIf="comptecou.compteId">
                            <a [routerLink]="['/compte', comptecou.compteId , 'view']" >{{ comptecou.compteId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comptecou', comptecou.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comptecou', comptecou.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(comptecou)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="comptecous && comptecous.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
